.flex {
    display: flex;
    flex-direction: row;
}

.split, .gutter.gutter-horizontal {
    float: left;
    height: 100%;
}
.gutter.gutter-horizontal {
    cursor: ew-resize;
}




#app {
  /* position: relative; */
  /* margin-left: 20px; */
}

.audio-component {
  display: inline-block;
  border: 1px solid;
  min-height: 5em;
  min-width: 5em;
  vertical-align: top;
  margin-right: 3em;
  text-align: center;
}
